# Ignore configuration
/config/dbConfig.php
/config/globalConfig.php
#/config/thomasbatt.sql

# NPM .gitignore configuration
/node_modules/*
npm-debug.log

# NPM .gitignore configuration

# Bower
/assets/Vendor/*

# Composer
/vendor
/vendor/._*
