@mixin forms-field($width){
	width: $width;
	padding: 5px 10px;
    background-color: $bgColor;
    line-height: 1;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

@mixin forms-bottomfield(){
	margin-top: 10px;
	margin-bottom: 10px;
}


