<div class="project col-s-12" ng-repeat="project in vm.projects">
    <div class="col-m-4 visible-m">
        <div class="border">{{:: project.icon }}</div>
    </div>
    <div class="description col-m-8">{{:: project.name }}
        <p>{{:: project.description }} <i ng-if="{{:: project.link  }}" class="devicons devicons-responsive"></i><a ng-href="{{: project.link }}">Demo</a>
            <br><i ng-if="{{:: project.github }}" class="devicons devicons-github"></i><a ng-href="{{:: project.github }}">Github</a>
            <br>
            <skill-element ng-repeat="techno in project.technologies" skill="techno"></skill-element>
        </p>
    </div>
</div>