<div class="col-s-12 col-m-4">
    <h3>Développement</h3>
    <skill-element ng-repeat="skill in skills" ng-if="skill.type === \'dev\'" skill="skill.techno"></skill-element>
</div>
<div class="col-s-12 col-m-4">
    <h3>Outils utilisés</h3>
    <skill-element ng-repeat="skill in skills" ng-if="skill.type === \'tool\'" skill="skill.techno"></skill-element>
</div>
<div class="col-s-12 col-m-4">
    <h3>Admin Sys</h3>
    <skill-element ng-repeat="skill in skills" ng-if="skill.type === \'sys\'" skill="skill.techno"></skill-element>
</div>