@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700,600,500,300,200|Open+Sans:400,700,600,300|Roboto:400,300,500,700,100);
@font-face {
  font-family: 'rezolis';
  src: url("../fonts/rezolis.eot?llnp1p");
  src: url("../fonts/rezolis.eot?llnp1p#iefix") format("embedded-opentype"), url("../fonts/rezolis.ttf?llnp1p") format("truetype"), url("../fonts/rezolis.woff?llnp1p") format("woff"), url("../fonts/rezolis.svg?llnp1p#rezolis") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="rezolis-icon-"], [class*=" rezolis-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rezolis' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.rezolis-icon-angle-bottom:before {
  content: "\e908"; }

.rezolis-icon-angle-left:before {
  content: "\e909"; }

.rezolis-icon-angle-right:before {
  content: "\e90a"; }

.rezolis-icon-angle-top:before {
  content: "\e90b"; }

.rezolis-icon-check:before {
  content: "\e90c"; }

.rezolis-icon-cross:before {
  content: "\e90d"; }

.rezolis-icon-menu:before {
  content: "\e90e"; }

.rezolis-icon-layers:before {
  content: "\e900"; }

.rezolis-icon-arrow-left:before {
  content: "\e901"; }

.rezolis-icon-facebook:before {
  content: "\e902"; }

.rezolis-icon-instagram:before {
  content: "\e903"; }

.rezolis-icon-bulb:before {
  content: "\e904"; }

.rezolis-icon-mouse:before {
  content: "\e905"; }

.rezolis-icon-search:before {
  content: "\e906"; }

.rezolis-icon-twitter:before {
  content: "\e907"; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*	height: 100%;
	min-height: 100%;*/
  line-height: 1.3;
  color: #222;
  height: 100%;
  min-height: 100%; }

a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }
    ul li a {
      text-decoration: none;
      color: #3c3c3b; }
      ul li a:hover {
        color: #00A0E4; }

.button {
  position: relative;
  margin: 20px auto;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 2px #2B2B27;
          box-shadow: inset 0 0 0 2px #2B2B27;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: uppercase;
  text-decoration: none;
  color: #2B2B27; }
  .button a {
    text-decoration: none;
    color: #3c3c3b; }
  .button:hover {
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 160, 228, 0);
            box-shadow: inset 0 0 0 2px rgba(0, 160, 228, 0); }
    .button:hover a {
      color: #636361; }

.button::before, .button::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.button::before {
  border-bottom: 2px solid #00A0E4;
  border-left: 2px solid #00A0E4;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%; }

.button::after {
  border-top: 2px solid #00A0E4;
  border-right: 2px solid #00A0E4;
  -webkit-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
          transform-origin: 100% 0%; }

.button:hover::after, .button:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

input, textarea, select {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(204, 204, 204, 0.6) inset;
          box-shadow: 0 0 5px rgba(204, 204, 204, 0.6) inset;
  border: 1px solid #EEE;
  line-height: 1;
  padding: 5px 10px;
  display: inline-block;
  width: 100%;
  margin-top: 2px; }

textarea {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(204, 204, 204, 0.6) inset;
          box-shadow: 0 0 5px rgba(204, 204, 204, 0.6) inset;
  border: 1px solid #EEE;
  line-height: 1;
  display: inline-block;
  width: 100%;
  resize: none;
  padding: 10px;
  height: 200px;
  margin-top: 2px; }

button {
  padding: 10px 15px 8px 15px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-weight: bold;
  font-size: .8rem;
  letter-spacing: .1em;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.form-line {
  margin-bottom: 10px !important; }
  .form-line label {
    display: inline-block;
    padding-top: 4px;
    font-size: 1rem;
    line-height: 1.1; }

.home .header {
  display: none; }

.header {
  position: fixed;
  width: 100%;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 4px 0px #E7E7E7;
          box-shadow: 0px 4px 4px 0px #E7E7E7;
  z-index: 2;
  text-align: center;
  /*display: none;*/
  /*------------------------------------------ menu principal ------------------------------*/ }
  .header-logo img {
    max-height: 50px;
    margin-top: 5px; }
  .header-nav ul li {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .header-nav ul li a {
      display: inline-block;
      text-transform: uppercase;
      padding: 20px 30px; }
    .header-nav ul li i {
      position: absolute;
      left: 90%;
      top: 22px;
      cursor: pointer; }
    .header-nav ul li:hover > ul {
      display: block; }
  .header-nav ul ul {
    background: #fff;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    text-align: left;
    border-top: 4px solid #00A0E4;
    -webkit-box-shadow: 0px 0px 1px 0px #656565;
            box-shadow: 0px 0px 1px 0px #656565; }
    .header-nav ul ul li {
      display: block;
      font-size: 0.8rem; }
      .header-nav ul ul li a {
        padding: 5px 10px;
        white-space: nowrap;
        text-transform: none; }
  .header-nav .mobile-logo {
    display: none; }

.main-content {
  height: 100%; }
  .main-content section {
    padding: 120px 0; }
    .main-content section.full-height {
      min-height: 100%; }
  .main-content iframe {
    max-width: 100%; }
  .main-content .page section {
    padding: 60px 0 30px; }
  .main-content-inner ul li {
    list-style: initial;
    list-style-position: outside;
    margin-left: 20px; }
  .main-content-inner a, .main-content-inner a:visited, .main-content-inner a:active {
    color: #999999;
    /*text-decoration: none;*/ }
    .main-content-inner a:hover, .main-content-inner a:visited:hover, .main-content-inner a:active:hover {
      color: #2B2B27; }

.section-background {
  min-height: 600px;
  /*background: transparent;*/
  background: url(../img/presentation.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .section-background-1 {
    background-image: url(../img/presentation.jpg); }
  .section-background-2 {
    background-image: url(../img/contact.jpg); }

/*----------------------------------------------- splash page ---------------------------------------------------*/
.splash {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/splash.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .splash-content {
    margin: auto;
    max-width: 50%;
    text-align: center;
    color: #FFF; }
  .splash-logo {
    max-width: 60%;
    margin-bottom: 5px; }
  .splash-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Open Sans";
    max-width: 500px;
    display: inline-block;
    line-height: 1.2; }
  .splash-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: pointer;
    color: #fff; }
    .splash-down span {
      display: block;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: 300;
      position: relative;
      left: -3px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-animation: scrollButton .45s ease infinite alternate;
              animation: scrollButton .45s ease infinite alternate; }
    .splash-down i {
      font-size: 46px; }

@-webkit-keyframes scrollButton {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); } }

@keyframes scrollButton {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); } }

/*----------------------------------------------- map --------------------------------------------------------*/
.map-columns {
  position: relative; }

.map-france {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0; }

.map-hover, .map-hover2 {
  color: #00A0E4; }

.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-legend-cnt {
  display: none !important; }

.region-list {
  padding: 50px 0; }
  .region-list ul {
    font-weight: bold; }
    .region-list ul li {
      line-height: 1.5; }
      .region-list ul li a {
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out; }
      .region-list ul li ul {
        display: none; }

.department-list {
  margin-left: 20px; }

.retour-list {
  margin-left: -20px;
  margin-top: 20px;
  border-top: 1px solid #9C9C9C;
  display: inline-block;
  padding-top: 10px;
  color: #9C9C9C;
  font-weight: normal;
  font-size: 0.8rem;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .retour-list img {
    width: 10px; }
  .retour-list:hover {
    cursor: pointer;
    color: #3c3c3b; }

.prestataire {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  display: none; }
  .prestataire-content {
    position: absolute;
    max-width: 60%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    z-index: 2;
    background: #fff; }
  .prestataire h3 {
    margin-top: 10px; }
  .prestataire figure {
    float: left; }
    .prestataire figure img {
      max-width: 40px; }
  .prestataire .button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    .prestataire .button-close i {
      font-size: 25px; }
  .prestataire p {
    padding: 10px 0; }
  .prestataire address {
    text-align: center;
    margin-bottom: 10px; }

/*------------------------------------------------ présentation ----------------------------------------------*/
.presentation {
  text-align: center; }
  .presentation-content {
    margin: 40px 0; }
    .presentation-content figure {
      display: inline-block;
      background: #F4F4F4;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      padding: 35px; }
      .presentation-content figure i {
        font-size: 40px; }

/*.header {
	display: block;
}*/
.header-actu {
  background-image: url(../img/presentation.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  height: 300px;
  width: 100%;
  line-height: 300px;
  margin-bottom: 20px; }
  .header-actu h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.8rem; }
    .header-actu h1:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 2px;
      margin-right: 10px;
      background: #fff;
      position: relative;
      top: -2px; }

.actu {
  /*padding: 60px 0 30px !important;*/ }
  .actu .article {
    margin-top: 20px;
    margin-bottom: 20px; }
    .actu .article-content {
      background: #F7F7F7;
      padding: 0 30px 20px;
      -webkit-box-shadow: inset 0 20px 0 0 #fff;
              box-shadow: inset 0 20px 0 0 #fff; }
      .actu .article-content figure {
        margin: 0;
        padding: 0; }
      .actu .article-content-title {
        margin-top: 20px;
        /*display: table-cell;
				vertical-align: middle;*/ }
        .actu .article-content-title .date {
          display: inline-block;
          background: #2B2B27;
          color: #fff;
          padding: 5px 10px;
          text-align: center;
          line-height: 1;
          margin-right: 15px; }
          .actu .article-content-title .date .jour {
            font-size: 1.6rem; }
          .actu .article-content-title .date .mois {
            text-transform: uppercase;
            font-size: .8rem; }
        .actu .article-content-title h2 {
          display: inline-block;
          /*padding-left: 20px;*/
          margin: 0; }
  .actu .pagination {
    text-align: center;
    margin-top: 30px; }
    .actu .pagination ul li {
      border: 1px solid #2B2B27;
      margin: 0 5px; }
      .actu .pagination ul li a {
        display: inline-block;
        padding: 5px 10px;
        font-size: 1.2rem; }

.footer {
  background: #2C2B29;
  color: #FFF;
  font-size: .9rem;
  /* -------------------------------- footer nav -----------------------------------------*/
  /*------------------------------ carousel actu --------------------------------------*/
  /*------------------------------------- socials --------------------------------------*/
  /*------------------------------------ copyright --------------------------------------*/ }
  .footer-content {
    margin: 0 auto;
    max-width: 75%;
    padding: 40px 0 10px; }
    .footer-content h3 {
      margin-bottom: 20px; }
  .footer-nav, .footer-actu, .footer-socials {
    padding: 10px 30px; }
  .footer-nav ul li {
    display: block;
    margin-bottom: 5px; }
    .footer-nav ul li a {
      display: block;
      color: #FFF; }
      .footer-nav ul li a:hover {
        color: #00A0E4; }
  .footer-actu .owl-nav {
    position: absolute;
    top: 0;
    right: 0; }
    .footer-actu .owl-nav .owl-prev, .footer-actu .owl-nav .owl-next {
      display: inline-block; }
      .footer-actu .owl-nav .owl-prev img, .footer-actu .owl-nav .owl-next img {
        max-height: 40px;
        padding: 5px; }
  .footer-actu .owl-item a {
    color: #fff; }
  .footer-socials ul {
    margin-top: 20px; }
    .footer-socials ul li {
      display: inline-block;
      margin-right: 15px; }
      .footer-socials ul li a {
        color: #fff;
        font-size: 20px; }
        .footer-socials ul li a.facebook:hover {
          color: #3b5998; }
        .footer-socials ul li a.twitter:hover {
          color: #55acee; }
        .footer-socials ul li a.instagram:hover {
          color: #fd1d1d; }
  .footer .copyright {
    font-size: 0.8rem;
    padding: 20px 30px 0;
    text-align: center; }

@media screen and (max-width: 640px) {
  /*----------------------------------- header -------------------------------*/
  .header {
    background-color: rgba(0, 0, 0, 0.7);
    /*----------------------------------- menu -------------------------------*/ }
    .header-logo {
      display: none; }
    .header-nav {
      display: none;
      background-color: #fff;
      height: 100vh; }
      .header-nav ul li {
        display: block;
        border-bottom: 1px solid rgba(204, 204, 204, 0.2);
        font-size: 0.8rem; }
        .header-nav ul li:first-child {
          border-top: 1px solid rgba(204, 204, 204, 0.2); }
        .header-nav ul li:hover > ul {
          display: none; }
        .header-nav ul li ul {
          position: relative;
          border-top: none;
          -webkit-box-shadow: none;
                  box-shadow: none; }
          .header-nav ul li ul li {
            font-size: .8rem; }
            .header-nav ul li ul li:last-child {
              border-bottom: none; }
            .header-nav ul li ul li a {
              padding: 10px;
              color: #636361; }
      .header-nav .mobile-logo {
        display: block;
        text-align: center; }
        .header-nav .mobile-logo img {
          padding: 20px;
          max-width: 200px; }
  .nav-mobile {
    position: absolute;
    top: 1rem;
    right: 1rem; }
    .nav-mobile .nav-mobile-button {
      width: 30px;
      height: 30px;
      position: relative;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      .nav-mobile .nav-mobile-button span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #00A0E4;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        .nav-mobile .nav-mobile-button span:nth-child(1) {
          top: 0px; }
        .nav-mobile .nav-mobile-button span:nth-child(2) {
          top: 12px; }
        .nav-mobile .nav-mobile-button span:nth-child(3) {
          top: 24px; }
      .nav-mobile .nav-mobile-button.open span:nth-child(1) {
        top: 12px;
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg); }
      .nav-mobile .nav-mobile-button.open span:nth-child(2) {
        opacity: 0;
        left: -60px; }
      .nav-mobile .nav-mobile-button.open span:nth-child(3) {
        top: 12px;
        -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
                transform: rotate(-135deg); }
  /*----------------------------- content -------------------------------------*/
  .main-content .page section {
    padding: 0 0 30px; }
  /*----------------------------- home ----------------------------------------*/
  .splash-content, .splash-title {
    max-width: 80%;
    font-size: 1.4rem;
    line-height: 1.2; }
  .splash-content img {
    margin-bottom: 30px;
    max-width: 90%; }
  /*----------------------------- footer ----------------------------------------*/
  .footer-content {
    max-width: 100%; } }
