.l-footer {
  width: 100%;
  background: $textColor;
  color: $bgColor2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: $textColor2;
    text-decoration: none;
    &:hover {
      color: $textColor2;
      text-decoration: none;
    }
    font-weight: 800;
  }
  .social-img {
    border: 5px solid;
    border-radius: 50%;
    padding: 2px;
    width: 45px;
    height: auto;
    margin: 0 10px;
  }
  .twitter {
    border-color: #4DA7DE;
  }
  .linkedin {
    border-color: #3371B7;
  }
  .google {
    border-color: #dd4b39;
  }
  .twitch {
    border-color: #6441A5;
  }
  .steam {
    border-color: #8F8D8A;
  }
  .github {
    border-color: #221E1B;
  }
}