@font-face {
    font-family: 'rezolis';
    src:    url('../fonts/rezolis.eot?llnp1p');
    src:    url('../fonts/rezolis.eot?llnp1p#iefix') format('embedded-opentype'),
        url('../fonts/rezolis.ttf?llnp1p') format('truetype'),
        url('../fonts/rezolis.woff?llnp1p') format('woff'),
        url('../fonts/rezolis.svg?llnp1p#rezolis') format('svg');
    font-weight: normal;
    font-style: normal;
}

