@mixin forms-field($width){
	width: $width;
	padding: 5px 10px;
	box-shadow: 0 0 5px rgba(#CCC, .6) inset;
    line-height: 1;
}

@mixin forms-bottomfield(){
	margin-top: 10px;
	margin-bottom: 10px;
}


