.l-modals{
	.contact{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		z-index: 2000;
		background: rgba(0,0,0,.3);
		display: none;

		&-body{
			position: absolute;
			max-width: 1000px;
			min-width: 250px;
			width: 80%;
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
			left: 50%;
			box-shadow: 0px 0px 12px rgba(0,0,0,.5);
			padding: 40px  20px;
			z-index: 2001;
			background: #fff;
		}

		&-header{
			padding-bottom: 20px;
			margin-bottom: 15px;
		 	border-bottom: 1px solid #ddd;
			.title{
				font-weight: 600;
				display: inline-block;
				padding-right: 20px;
			}
			.subtitle{
				display: inline-block;
			}
			.button-close {
				display: inline-block;
				i{
					position: absolute;
					top: -25px;
					right: -5px;
					cursor: pointer;
					font-size: 25px;
				}
			}
		}

		&-content{
			.js-contact-error{
				label{
					font-weight: normal;
					padding-top: 8px;
					margin-bottom: 0,
				}
				input{
					@include forms-field();
				}
				textarea{
					@include forms-field();
			    	height: 160px;
			    	resize: none;
				}
				.error{
					color: #F68C76;
					font-size: 1.5rem; 	
				}
			}
			.checkbox_send_copy{
				@include forms-bottomfield();
				input{
					margin-left: 0 !important;
				}
				label{
					margin-left: 10px;
				}
			}
			.js_submit_contact{
				@include forms-bottomfield();
				input{
				    cursor: pointer;
				}
			}	
		}
	}

	.display-block {
	  display: block;
	}

	.display-none {
	  display: none;
	}
}