.l-modals{
	.contact{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		z-index: 2000;
		background: rgba(0,0,0,.3);
		display: none;

		&-body{
			position: absolute;
			max-width: 1000px;
			min-width: 300px;
            // width: 90%;
            transform: none;
            top: 0px;
            left: -4px;
            padding: 2em 1.5em;
			box-shadow: 0px 0px 12px rgba(0,0,0,.5);
			z-index: 2001;
			background: #fff;

			max-height: 100%;
    		overflow-y: auto;
		}



		&-header{
			padding-bottom: 20px;
			margin-bottom: 15px;
		 	border-bottom: 1px solid #ddd;
			.title{
				font-weight: 600;
				display: inline-block;
				padding-right: 20px;
			}
			.subtitle{
				display: none;
			}
			.button-close {
				display: inline-block;
				i{
					position: absolute;
					top: 0px;
					right: 15px;
					cursor: pointer;
					font-size: 21px;
				}
				a{
					color: $lightColor;
				}
			}
		}

		&-content{
			.js-contact-error{
				.b-bottom{
					padding: 10px 0px 5px;
					margin: 0px 0px 25px 0px;
					border-bottom: 2px solid $lightColor;
					width: 100%;
					&-area{
						border-bottom: 2px solid $lightColor;
						width: 100%;
					}
				}
				.input, .label{
					display: inline-block;
				}
				.input{
					width: 60%;
				}
				label{
					font-weight: normal;
					padding-top: 8px;
					margin-bottom: 0,
				}
				input{
					@include forms-field(100%);
					height: 30px;
				}
				textarea{
					@include forms-field(100%);
			    	height: 158px;
			    	resize: none;
				}
				.error{
					margin-top: -24px;
					text-align: right;
					margin-right: 16px;
					color: $lightColor;
					font-size: 1.1rem;
					z-index: 30000; 
					animation: shaker 0.5s ease infinite alternate;	
				}
			}
			.checkbox_send_copy{
				@include forms-bottomfield();
				input{
					margin-left: 0 !important;
				    &[type="checkbox"]{
				    	border-radius: 0px;
						border: 0.5px solid $lightColor;
					    cursor: pointer;
					    background-color: $bgColor;
				    }
				}
				label{
					margin-left: 0px;
					font-size: 1.2rem;
				}
			}
			.wrapper-submit{
				text-align: right;
			}
			// div:has(> .js_submit_contact){
			// 	text-align: right;
			// }
			.js_submit_contact{
				@include forms-bottomfield();
				display: inline-block;
				input{
					border-radius: 0px;
					border: 0.5px solid $lightColor;
				    cursor: pointer;
				    background-color: $bgColor;
				    padding: 3px 10px;
				    font-size: 1.4rem;
				}
			}	
		}
	}

	.display-block {
	  display: block;
	}

	.display-none {
	  display: none;
	}
}

@keyframes shaker {
    from {
        transform: translatex(0);
    }
    to   { 
        transform: translatex(-7px);
     }
}